<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="notfound">
        <h1>OOPS!!</h1>
        <p>404 | PAGE NOT FOUND</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>