.movies--header {
    background: #1c252e;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    height: 75px;
    font-size: 24px;
    font-family: cursive;
}

.movies--nav ul {
    display: flex;
    margin: auto;
}
.movies--nav ul li {
    padding: 8%;
    list-style-type: none;
}
.movies--nav ul li:hover {
    background-color: #e4d804;;
}
.movies--nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    cursor:pointer;
}