body {
  background-color: rgb(236, 236, 236);
}
.container {
  width: 50%;
  margin: 0 auto;
  background-color: whitesmoke;
}
.contact {
  padding: 5%;
  box-shadow: 0 0 18px rgb(95, 95, 95);
}
input{
  display: block;
}