form.form-control {
    background: rgb(0,15,18);
  background: linear-gradient(90deg, rgba(0,15,18,1) 7%, rgba(0,25,30,1) 89%);
  color: white;
  padding: 5%;
  border: none;
  text-align: center;
}
