<div class="home">
    <div class="container">
        <div class="row welcome">
            <div class="col-md-12">
                <p>Welcome to HomePage</p>
            </div>
        </div>
    </div>
</div>