.btn-add {
    margin: 3% 0 3% 2%;
}
.btn-add:hover {
    transform: scale(1.05);
    transition: 0.5s;
}
.form-control {
    margin-bottom: 2%;
}
.modal-content {
    background-color: rgb(0,15,18);
    box-shadow: 0 0 8px white;
    color: white;
    padding: 2%;
}